{% extends 'base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card p-4"
        style="max-width: 400px; background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity here */">
        <div class="card-body text-center">
            <h5 class="card-title mb-4">You have been logged out</h5>
            <p class="card-text">
                Thanks for your time. If you have any comments or suggestions, feel free to contact us on our social
                media pages.
            </p>
            <hr>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-block">Sign in again</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}