<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporary Password Email</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Temporary Password</h5>
                    </div>
                    <div class="card-body">
                        <p>Hello {{ user.first_name }},</p>
                        <p>Your temporary password is:</p>
                        <h3>{{ temporary_password }}</h3>
                        <p>Please use this temporary password to log in to our system. You will be prompted to reset your password once logged in.</p>
                        <p>Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
